body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: Arial, sans-serif;
}

.clock {
    background: #000;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: #00ffcc;
    border: 2px solid;
    border-color: aquamarine;
}

#time {
    color: #00ffcc;
    font-size: 48px;
    letter-spacing: 2px;
}
